h1{
    text-align: center;
}
body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(47, 126, 185) 17.8%, rgb(33, 123, 126) 100.2% );
    text-align: center;
    color: #fff;
}
button {
    padding: 16px 35px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: #fff;
    
    /* Efeito de Vidro e Gradiente */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px; /* Cantos levemente arredondados (mais moderno que o total) */
    
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

button:hover {
    transform: translateY(-5px); /* Flutua para cima */
    background: rgba(255, 255, 255, 0.15);
    border-color: rgb(43, 113, 115);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 0 15px rgba(2, 245, 255, 0.6);
    color: rgb(38, 92, 94);
}

/* Efeito de luz passando pelo botão no hover */
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.3), transparent);
    transition: all 0.6s;
}

button:hover::before {
    left: 100%;
}
